/GLMS-ejb/nbproject/private/
/nbproject/private/
/Student/nbproject/private/
/Instructor/nbproject/private/
/build/
/GLMS-ejb/build/
/GLMS-ejb/dist/
/Student/build/
/Student/dist/
/Instructor/build/
/Instructor/dist/