/*
This is a global CSS file to fix styling issues
*/
/* 
    Created on : Jan 28, 2014, 6:33:44 PM
    Author     : Philson
*/

.headerPhoto
{
    max-height: 30px;
    min-width: 27px;
    max-width: 30px !important;
    padding-right: 3px;
}

.gradeX td
{
    vertical-align: middle !important;
}

.smallTableImg
{
    width: 40px; height: 40px;
}

.questDesc
{
    width: 100%;
    /* max-width: 400px !important; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) 
{
    #sample_1_filter, #sample_1_info, #sample_2_filter, #sample_2_info, #sample_3_filter, #sample_3_info, #sample_4_filter, #sample_4_info
    { margin-bottom:-30px; }
}